In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns 

from google.colab import drive 
drive.mount('/content/drive')
# df로 불러옵니다

In [ ]:
df = pd.read_csv('/content/drive/My Drive/AI bootcamp/Project1/vgames2.csv')

In [ ]:
#df['Total_Sales'] = df['NA_Sales'] + df['EU_Sales'] + df['JP_Sales'] + df['Other_Sales']
#np.round(df, decimals=3)
df.set_index('Unnamed: 0', inplace=True)
df

In [ ]:
# 일부 데이터 단위 변환. 
df['NA_Sales'] = df['NA_Sales'].replace({'K': '*0.001', 'M': '*1'}, regex=True).map(pd.eval)
df['EU_Sales'] = df['EU_Sales'].replace({'K': '*0.001', 'M': '*1'}, regex=True).map(pd.eval)
df['JP_Sales'] = df['JP_Sales'].replace({'K': '*0.001', 'M': '*1'}, regex=True).map(pd.eval)
df['Other_Sales'] = df['Other_Sales'].replace({'K': '*0.001', 'M': '*1'}, regex=True).map(pd.eval)

In [ ]:
df

In [ ]:
# Sales 데이터 타입 string에서 float로 변환 

df["NA_Sales"] = pd.to_numeric(df["NA_Sales"])
df["EU_Sales"] = pd.to_numeric(df["EU_Sales"])
df["JP_Sales"] = pd.to_numeric(df["JP_Sales"])
df["Other_Sales"] = pd.to_numeric(df["Other_Sales"])

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# 총 판매액 계산 

df['Total_Sales'] = df['NA_Sales'] + df['EU_Sales'] + df['JP_Sales'] + df['Other_Sales']
df

In [ ]:
df.describe()

In [ ]:
# 연도에서 이상치 제거 
df = df[df.Year > 1000]

In [ ]:
# 결측치가 있는 행 확인 
df.isna().any()

In [ ]:
# 결측치의 수 확인 
df.isnull().sum()

In [ ]:
# 결측치가 있는 행 확인하기 
df[df['Year'].isnull()]

In [ ]:
df.duplicated().sum() # 중복된 행 갯수 확인 : 1개
df.drop_duplicates(inplace = True) # 중복된 행 하나만 남기고 삭제

In [ ]:
# Total Sales 높은 순서대로 배열 
df2 = df.sort_values(by='Total_Sales' ,ascending=False)
df2 = df2.reset_index()
df2

In [ ]:
pd.set_option('display.max_row', 12) # 화면에 표시되는 행 갯수 정하기 
df3 = df2.iloc[:1000] # 상위 1000위까지만 뽑기 
df3

In [ ]:
df3.isnull().sum() # 상위 1000위까지의 결측치 갯수 확인. -> 상위 500위 내 연도는 4개, 장르는 3개의 결측치만이 확인됨. / 결측치는 제외하고 진행해도 무방할 것으로 보임.

In [ ]:
# 결측치가 있는 행 확인하기 
df3[df3['Genre'].isnull()]

In [ ]:
df3[df3['Year'].isnull()]
df3[df3['Year'].isnull()]

In [ ]:
# 판매량 상위 1000위 내의 장르 결측치만 도메인 검색으로 값 대체. - 방법을 찾지 못함. 
# df.at[1972,'Genre'] = 'Role-Playing'  # Pokemon X/Pokemon Y	
# df['Genre']['1972'] = Role-Playing
# 상위 1000위 내의 Year 결측치만 검색으로 대체. - 방법을 찾지 못함.  
# print(df[695, 'Year'])
# df.at[6950,'Year'] = 2004

In [ ]:
df.dropna() # 결측치 일단 제외 
df['Year'] = df['Year'].apply(int)

In [ ]:
df3.describe()

## 1. 지역에 따라서 선호하는 게임의 장르가 다를까? 
- 지역에 따른 게임 장르의 분포가 다른지? 카이 제곱 검정 실시.

In [ ]:
# 상위 500위 내 연도는 4개, 장르는 3개의 결측치만이 확인됨. / 결측치는 제외하고 진행해도 무방할 것으로 보임.

In [ ]:
# 연도 상관없이 진행. 
# Genre & NA_Sales 
df_g_na = df.loc[:,['Genre','NA_Sales']]
df_g_na = df_g_na.groupby(by=['Genre'], as_index=False).sum()
df_g_na = df_g_na.sort_values(by='NA_Sales' ,ascending=False) # 높은 판매량 순서대로 장르 나열 

df_g_na = df_g_na.reset_index()
df_g_na.index = df_g_na.index + 1
df_g_na = df_g_na.drop(['index'],axis=1)

df_g_na['%'] = df_g_na.NA_Sales / df_g_na.NA_Sales.sum() *100 
df_g_na = df_g_na.round(2)
df_g_na

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
# Genre & EU_Sales 
df_g_eu = df.loc[:,['Genre','EU_Sales']]
df_g_eu = df_g_eu.groupby(by=['Genre'], as_index=False).sum()
df_g_eu = df_g_eu.sort_values(by='EU_Sales' ,ascending=False) # 높은 판매량 순서대로 장르 나열 

df_g_eu = df_g_eu.reset_index()
df_g_eu.index = df_g_eu.index + 1
df_g_eu = df_g_eu.drop(['index'],axis=1)

df_g_eu['%'] = df_g_eu.EU_Sales / df_g_eu.EU_Sales.sum() *100 
df_g_eu = df_g_eu.round(2)
df_g_eu

In [ ]:
# Genre & JP_Sales 
df_g_jp = df.loc[:,['Genre','JP_Sales']]
df_g_jp = df_g_jp.groupby(by=['Genre'], as_index=False).sum()
df_g_jp = df_g_jp.sort_values(by='JP_Sales' ,ascending=False) # 높은 판매량 순서대로 장르 나열 

df_g_jp = df_g_jp.reset_index() # 인덱스 새로 설정 
df_g_jp.index = df_g_jp.index + 1 # 인덱스 1부터 시작 
df_g_jp = df_g_jp.drop(['index'],axis=1) # 기존 인덱스 행 삭제 


df_g_jp['%'] = df_g_jp.JP_Sales / df_g_jp.JP_Sales.sum() *100 # 퍼센트 표시 
df_g_jp = df_g_jp.round(2) # 소수점 두번째자리까지 표시 
df_g_jp

In [ ]:
# Genre & Other_Sales
df_g_ot = df.loc[:,['Genre','Other_Sales']]
df_g_ot = df_g_ot.groupby(by=['Genre'], as_index=False).sum()
df_g_ot = df_g_ot.sort_values(by='Other_Sales' ,ascending=False) # 높은 판매량 순서대로 장르 나열 

df_g_ot = df_g_ot.reset_index()
df_g_ot.index = df_g_ot.index + 1
df_g_ot = df_g_ot.drop(['index'],axis=1)

df_g_ot['%'] = df_g_ot.Other_Sales / df_g_ot.Other_Sales.sum() *100 
df_g_ot = df_g_ot.round(2)
df_g_ot

In [ ]:
df_genre_sales = df.loc[:,['Genre','NA_Sales','EU_Sales','JP_Sales','Other_Sales']]
df_genre_sales = df_genre_sales.groupby(by=['Genre'], as_index=False).sum()
df_genre_sales = df_genre_sales.set_index('Genre')
df_genre_sales

In [ ]:
import matplotlib.pyplot as plt
figsize2 = [10,5]
plt.figure(figsize=figsize2)
ax = df_genre_sales.plot(kind='barh', stacked=True, rot=0, figsize=[20,7])
#for p in ax.patches:
#    left, bottom, width, height = p.get_bbox().bounds
#    ax.annotate("%.1f"%(width*100), xy=(left+width/2, bottom+height/2), ha='center', va='center')
plt.title('Genre & Sales', fontdict={'fontweight':'bold', 'fontsize':20})
plt.xlabel('Dollars($M)', fontsize=15)
plt.ylabel('Genre', fontsize=15)
plt.box(False)

plt.show()

In [ ]:
from scipy.stats import chi2_contingency 

chi = chi2_contingency(df_genre_sales)
chi
# 연도 상관없이 판매량을 기준으로 봤을 때, 지역에 따라 선호하는 장르가 다르다.

## 2. 연도별 게임의 트렌드가 있을까? 
- 트렌드는 어떻게 확인? 상위 판매 개별 게임 OR 상위 판매 게임 장르 // 연도별 상위 판매된 게임 장르? 
- 2000년대 이후만 확인? ( 7세대 이후만 확인 - 엑스박스, Wii/닌텐도 ds, 플레이스테이션 -> 현재까지 주된 경쟁사로 남아있는 3사의 기기들이 모두 포함되며, 이 시기부터 기술적으로 발전된 형태를 보임. Wii의 경우, 움직임을 감지하는 센서와 연동되는 컨트롤러를 선보임. )

In [ ]:
# 연도별 콘솔 시장 전체 규모 변화 
df_year_sales = df.loc[:,['Year','NA_Sales','EU_Sales','JP_Sales','Other_Sales','Total_Sales']]
df_year_sales = df_year_sales .groupby(by=['Year'], as_index=False).sum()
df_year_sales = df_year_sales .set_index('Year')
df_year_sales

In [ ]:
dfpl = df_year_sales.plot(kind='bar', title="Sales per Years", figsize=(30,10))

In [ ]:
df_year = df = df[df.Year < 2017]
df_year = df.groupby('Year').sum().reset_index(drop=False)

figsize = [20, 7]
x = df_year['Year']
y = df_year['Total_Sales']
width = 0.8
color = 'indigo'

plt.figure(figsize = figsize)
bars = plt.bar(x,y,width=width, color=color)

plt.title('Global Sales per Year', fontdict={'fontweight':'bold', 'fontsize':20})
plt.xlabel('Year', fontdict={'fontsize':18, 'fontweight':'bold'})
plt.ylabel('Dollars ($M)', fontdict={'fontsize':18, 'fontweight':'bold'})
plt.xticks(df_year['Year'], rotation = 90)

In [ ]:
# 장르=트렌드 확인 
# df_genre_year = df.loc[:,['Genre','Year']]
# df_genre_year = df_genre_year.groupby(by=['Genre'], as_index=False).sum()
# df_genre_year = df_genre_year.set_index('Genre')
# df_genre_year

In [ ]:
# 연도별 데이터 재할당 
df6 = df

conditionlist = [
    (df6['Year'] >= 2010) ,
    (df6['Year'] >= 2000) & (df6['Year'] < 2010),
    (df6['Year'] >= 1990) & (df6['Year'] < 2000),
    (df6['Year'] < 1990)]
choicelist = ['2010s', '2000s', '1990s', '1980s']
df6['Ages'] = np.select(conditionlist, choicelist, default='Not Specified')

#df6['Ages'] = ["1980s" if 1980 <= s <1990, "1990s", if 1990 <= s < 2000, "2000s" if 2000 <= s < 2010, "2010s" if 2010 <= s < 2017 else "Other" for s in df6['Year']]

# 참조 : df['Status'] = ["Senior" if s >=400 else "Junior" for s in df['Salary']] 
df6

In [ ]:

#df6_ages_genre = df6.loc[:,['Genre','Ages']]
df6 = df6.groupby(by=['Ages'], as_index=False).sum()

#df_g_na = df_g_na.reset_index()
#df_g_na.index = df_g_na.index + 1
#df_g_na = df_g_na.drop(['index'],axis=1)

#df_g_na['%'] = df_g_na.NA_Sales / df_g_na.NA_Sales.sum() *100 
#df_g_na = df_g_na.round(2)
#df_g_na
df6

In [ ]:
sns.barplot(x='Ages', y='Total_Sales', data=df6)

In [ ]:
# 2000년도 이후 연도별 게임의 장르. 
df7 = df[df.Year >= 2000]
pp_crosstab = pd.crosstab(index=df7["Year"], columns=df7["Genre"])
df8 = pp_crosstab
df8.plot(figsize=[20,12])

In [ ]:
import scipy.stats as stats
stats.chi2_contingency(observed = df8)
# 연도와 장르는 통계적으로 유의한 관련성이 있는 것으로 나타남.

## 3. 출고량이 높은 게임에 대한 분석 및 시각화 프로세스

In [ ]:
# 전체년도 출고량 순 게임 정렬
df2

df10 = df2.iloc[:100] # 상위 100위만 확인 
df10

In [ ]:
# 2000년대 이후 출고량 순 게임 정렬 
df11 = df7.sort_values(by='Total_Sales', ascending=False)
df11 = df11.reset_index()
df11

df11 = df11.iloc[:100] # 상위 100위만 확인

In [ ]:
df11_p = df11['Genre'].value_counts()
df11_p

In [ ]:
# 2000년이후 상위 100위 게임 장르별 총 출고량 순위 
df11_genre = df11[['Genre', 'NA_Sales', 'EU_Sales', 'JP_Sales','Other_Sales','Total_Sales']]
df11_genre = df11_genre.groupby('Genre').sum().sort_values('Total_Sales', ascending=False).reset_index(drop=False).head(10)
df11_genre

In [ ]:
figsize = [20, 7]
x1 = df11_genre['Genre']
y1 = df11_genre['Total_Sales']
width = 0.8
color = 'tab:blue'

plt.figure(figsize = figsize)
bars = plt.bar(x1,y1,width=width, color=color)

plt.title('Global sales by genre since 2000', fontdict={'fontweight':'bold', 'fontsize':20})
plt.xlabel('Genre', fontdict={'fontsize':18, 'fontweight':'bold'})
plt.ylabel('Dollars ($M)', fontdict={'fontsize':18, 'fontweight':'bold'})
plt.xticks(df11_genre['Genre'], rotation = 60)

In [ ]:
figsize = [20, 7]
x2 = df11_genre['Genre']
y2a = df11_genre['Total_Sales']
y2b = df11_p
width = 0.8
color = 'indigo'
color1 = 'plum'

fig, ax1 = plt.subplots()
ax1.set_xlabel('Genre')
ax1.set_ylabel('Dollars ($M)', color=color)
ax1.plot(x2, y2a, color=color)
ax1.tick_params(axis='y', labelcolor=color)

ax2 = ax1.twinx()  
ax2.set_ylabel('Number of games', color=color1)  
ax2.plot(x2, y2b, color=color1)
ax2.tick_params(axis='y', labelcolor=color1)

fig.tight_layout()
plt.show()

In [ ]:

fig, ax1 = plt.subplots(figsize=(10,5))
color = 'tab:green'

ax1.set_title('[Top100] Global Sales and Number of games by genre since 2000', fontsize=16)
ax1.set_xlabel('Genre', fontsize=16)
ax1.set_ylabel('Dollars ($M)', fontsize=16)
ax1 = sns.barplot(x='Genre', y='Total_Sales', data = df11_genre, palette='summer')
ax1.tick_params(axis='y')

ax2 = ax1.twinx()
color = 'tab:red'

ax2.set_ylabel('Number of games', fontsize=16)
ax2 = sns.lineplot(data=df11_p, sort=False, color=color)
ax2.tick_params(axis='y', color=color)

plt.show()
# x=x2, y=y2b,

In [ ]:
pd.set_option('display.max_row', 100)
df11

In [ ]:
df11.to_excel('top 100 games since 2000.xlsx')

In [ ]:
Total = df11['Total_Sales'].sum()
Total

In [ ]:
df11_callofduty = df11[df11['Name'].str.contains('Call of Duty')] # 2000년 이후 전체 출고량 top 100위 게임 중  CALL OF DUTY 시리즈 
df11_callofduty

In [ ]:
Total_df11_callofduty = df11_callofduty['Total_Sales'].sum()
Total_df11_callofduty

In [ ]:
df11_mariokart = df11[df11['Name'].str.contains('Mario Kart')] # 2000년 이후 전체 출고량 top 100위 게임 중  Mario Kart 시리즈 
df11_mariokart

In [ ]:
Total_df11_mariokart = df11_mariokart['Total_Sales'].sum()
Total_df11_mariokart

In [ ]:
df11_grandtheft = df11[df11['Name'].str.contains('Grand Theft')] # 2000년 이후 전체 출고량 top 100위 게임 중  Grand Theft 시리즈 
df11_grandtheft

In [ ]:
Total_df11_grandtheft = df11_grandtheft ['Total_Sales'].sum()
Total_df11_grandtheft

In [ ]:
df11_FIFA = df11[df11['Name'].str.contains('FIFA')] # 2000년 이후 전체 출고량 top 100위 게임 중 FIFA 시리즈 
df11_FIFA

In [ ]:
Total_df11_FIFA = df11_FIFA ['Total_Sales'].sum()
Total_df11_FIFA

In [ ]:
df11_Pokemon = df11[df11['Name'].str.contains('Pokemon')] # 2000년 이후 전체 출고량 top 100위 게임 중 Pokemon 시리즈 
df11_Pokemon

In [ ]:
Total_df11_Pokemon = df11_Pokemon ['Total_Sales'].sum()
Total_df11_Pokemon

In [ ]:
df11_Wii = df11[df11['Name'].str.contains('Wii')] # 2000년 이후 전체 출고량 top 100위 게임 중 Wii 시리즈 
df11_Wii

In [ ]:
Total_df11_Wii = df11_Wii['Total_Sales'].sum()
Total_df11_Wii

In [ ]:
df11_Wiisports = df11[df11['Name'].str.contains('Wii Sports')] # 2000년 이후 전체 출고량 top 100위 게임 중 Wii sports 시리즈 
df11_Wiisports

In [ ]:
Total_df11_Wiisports= df11_Wiisports ['Total_Sales'].sum()
Total_df11_Wiisports

In [ ]:
df11_nintendo = df11[df11['Publisher'].str.contains('Nintendo')] # 2000년 이후 전체 출고량 top 100위 게임 중 nintendo사 게임
df11_nintendo

In [ ]:
Total_df11_nintendo= df11_nintendo ['Total_Sales'].sum()
Total_df11_nintendo